<h3>TODO lIST</h3>


<form action="/todos" method="POST" >
	
	<input type="text" name="title" placeholder="Titre"> <br> <br>
	<textarea name="content" placeholder ="contenu"id="" cols="30" rows="5"></textarea> <br><br>


	<button type="submit">Submit</button>
</form>